/* vars */
:root {
    --vcp-c-brand: #1f7aca !important;
    --vp-c-brand: #1f7aca !important;
    --vp-c-brand-light: #2584d6 !important;
    --vp-c-brand-lighter: #2584d6 !important;
    --vp-c-brand-dark: #0f4c81 !important;
    --vp-c-brand-darker: #e8e9eb !important;

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--vp-c-brand), var(--vp-c-brand-light));

    --vp-home-hero-image-background-image: -webkit-linear-gradient(-45deg, var(--vp-c-brand) 50%, var(--vp-c-brand-light) 50%);
    --vp-home-hero-image-filter: blur(72px);
}

/* search dialog */
.command-dialog-footer {
    justify-content: start !important;
}

.command-palette-logo {
    display: none !important;
}

/* navbar */
.VPNavBar.fill .content-body {
    /* background: rgba(36,36,36,.7) !important; */
    /* var(--vp-nav-bg-color) */
    background: transparent !important;
    backdrop-filter: saturate(50%) blur(8px) !important;
}

.VPNavBar.has-sidebar .curtain {
    display: none !important;
}
